@charset "utf-8";
body {
    margin: 0;
    padding: 0;
}

html {}

header {
    background-color: aliceblue;
}

main {
    background-color: ##dbdada33;
}

footer {
    background-color: #272727;
    color: #ffffff;
}