[data-trigger] {
  --duration: 0.6s;
  --easing: ease-out;
  --property: opacity;

  transition: var(--duration) var(--easing);
  transition-property: var(--property);
}

[data-scrub] {
  --progress: 0;
}

[data-trigger="fadeIn"] {
  &[data-inview="false"] {
    opacity: 0;
  }
  &[data-inview="true"] {
    opacity: 1;
  }
}

[data-trigger="blurIn"] {
  --property: opacity, filter;

  &[data-inview="false"] {
    filter: blur(8px);
    opacity: 0;
  }
  &[data-inview="true"] {
    filter: blur(0);
    opacity: 1;
  }
}

[data-trigger="slideUpIn"] {
  --property: opacity, translate;

  &[data-inview="false"] {
    translate: 0 3rem;
    opacity: 0;
  }
  &[data-inview="true"] {
    translate: 0 0;
    opacity: 1;
  }
}

[data-trigger="colorFade"] {
      --duration: 3s;
    --easing: cubic-bezier(0.63, -0.09, 0.56, 0.8);
      --bg-size: 200% 100%; /* 初期状態で背景の大きさを設定 */
      --bg-pos-start: 100% 0;
      --bg-pos-end: 0 0;

      background: linear-gradient(90deg, #424242 50%, #ccc 50%, #ccc 100%);
      background-size: var(--bg-size);
      background-position: var(--bg-pos-start);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent; /* テキストの色を透明にして背景グラデーションを見せる */

      transition: background-position var(--duration) var(--easing);
    }

    /* 非表示状態 */
    [data-trigger="colorFade"][data-inview="false"] {
      background-position: var(--bg-pos-start);
    }

    /* 表示状態 */
    [data-trigger="colorFade"][data-inview="true"] {
      background-position: var(--bg-pos-end);
    }

@media (prefers-reduced-motion: no-preference) {
  [data-effect="parallax"] {
    --range: 300;
    --translate: calc((var(--range) * -1px) + (var(--range) * 2px) * var(--progress, 0));

    translate: 0 var(--translate);
  }

  [data-clip-item] {
    clip-path: inset(calc((1 - var(--progress)) * 30%));
  }

  [data-scrub="textClipIn"] {
    color: transparent;
    background-image: linear-gradient(90deg, #000 50%, #ccc 50%, #ccc 100%);
    background-position: calc(100% * (1 - var(--progress))) 0;
    background-clip: text;
    background-size: 200% 100%;
  }
}
